<% provide(:title, "Home")%>
<%= image_tag "pizza.jpg", alt: "pizza", height: "70%", width: "100%", id: "image2" %>
<div class="content">
    <h2>Welcome to Homebodies pizza!<h2>
    <p>We serve the greater greencastle area, offering many topping options, speedy delivery, and quality you can trust!</p>
    <br>
    

</div>