<h1 class="pageTitle">About Us</h1>
<p class="textBox">We're a small pizza company based out of Greencastle, IN. As college students at DePauw University, 
we were always disappointed with the lack of 24/7 food available in the area. So we set out to create Homebodies Pizza Co., 
a 24 hour pizza joint that prides itself on excellent customer service, speedy delivery, and a delicious alternative to other late night fast food 
restaurants in Greencastle!<br />Stop in and say hello, and we'd love to connect on social media!</p>
<br>
<div class="aboutImage"><%= image_tag "PepZa.jpg", alt: "pizza", height: "20%", width: "40%" %></div>
