<footer class= "footer">
   <br>
   <br>
<nav>
   <div class="column">
      <%= link_to "Our Story", controller: "about_us", action: "aboutUs" %>
   </div>
   <div class="column">
      <%= link_to "Order now!", controller: "orders", action: "index" %>
   </div>
   <div class="column">
      <%= link_to "Admin", controller: "menus", action: "index" %>
   </div>
            
</nav>
</footer>
